@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
nav {
  background: rgb(48, 48, 48);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style: none;
  padding: 15px 0;
  margin: 0;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  transition: all 0.5s;
  text-transform: uppercase;
}
nav a:hover {
  text-decoration: underline;
}
#contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 2em;
}
#contacts article {
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.55);
  text-align: center;
  border-radius: 2px;
  padding: 30px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
#contacts article div {
  margin: 0.5em 0em;
}
#contacts img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;
}
input {
  box-sizing: border-box;
  display: block;
  width: 500px;
  margin: 20px auto;
  padding: 10px 0;
  font-family: "Josefin Sans", sans-serif;
}
#single {
  max-width: 50%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.btn {
  color: #fff;
  padding: 10px 20px;
  background: #e66465;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.2em;
  transition: all 0.5s; 
}
.btn:hover {
  color: black;
  padding: 10px 20px;
}
.hide {
  display: none;
}
#single {
  text-align: center;
  padding-top: 5vh;
}
#single img {
  width: 100%;
  object-fit: contain;
}
#edit article {
  display: flex;
  justify-content: center;
}
#new h2 {
  text-align: center;
  padding-top: 10vh;
}
